body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin: 50px !important;
}

#main {
    min-width: 50%;
}

